#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



body {
  background-color: #ffffff;
  color: #1f2937; /* gris oscuro para texto */
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111820; /* gris muy oscuro */
    color: #f3f4f6; /* gris muy claro para texto */
  }
}